@font-face {
  font-family: "iconfont"; /* Project id 3062776 */
  src: url('//at.alicdn.com/t/font_3062776_4ri5swbe8xa.woff2?t=1640426068263') format('woff2'),
       url('//at.alicdn.com/t/font_3062776_4ri5swbe8xa.woff?t=1640426068263') format('woff'),
       url('//at.alicdn.com/t/font_3062776_4ri5swbe8xa.ttf?t=1640426068263') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaoxi:before {
  content: "\e618";
}

.icon-saoyisao:before {
  content: "\e891";
}
